:root {
    --profile-pic-size: 30px;
}

.logo {
    min-height: var(--profile-pic-size);
    max-height: 45px;
}

.nav-link-edited {
    color: #072227;
    font-weight: 600;
}

.photo-info {
    padding: 15px;
    margin-bottom: auto;
    border: solid 3px #d3d3d3;
    border-radius: 10px;
    margin-left: 2rem;
}

.default-profile-pic {
    max-height: var(--profile-pic-size);
}

.user-info {
    display: flex;
    margin-right: 20px; 
    margin-left: auto; 
    align-items: center;
}

.profile-pic {
    position: relative;
    width: var(--profile-pic-size);
    height: var(--profile-pic-size);
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    position: absolute;
    height: var(--profile-pic-size);
    width: auto;
}

.card-info {
    display: inline-flex;
    align-items: center;
    padding-top: 6px;
    border-top: solid 1px lightgrey;
}

#share {
    text-decoration: none;
    color: black;
}

.card-hover {
    opacity: 50%;
    transition: 300ms ease-in-out;
}

.card:hover .card-hover {
    opacity: 100%;
    transition: 300ms ease-in-out;
}

.card:hover .card-category {
    opacity: 100%;
    transition: 300ms ease-in-out;
}

.card-parent {
    position: relative;
}

.card-category {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    opacity: 50%;
    transition: 300ms ease-in-out;
}

@media (max-width: 767.98px) {
    .user-info {
        margin: auto;
        justify-items: center;
        flex-direction: column;
    }

    .user-info a:nth-of-type(1) img{
        display: none;
    }
}

@media (min-width: 575.98px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 767.98px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 991.98px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1199.98px) {
    .card-columns {
        column-count: 5;
    }
}