{% extends 'photos/base.html' %}

{% block title_block %}
    Add Page
{% endblock %}

{% block body_block %}
    <div class="col-md-4" style="min-height: 90vh;">
        <a href="{% url 'board' %}" class="btn my-3" style="background-color: #511281; color: white;"><span data-feather="chevron-left"></span>Go Back</a>
        <div class="card">
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group m-3">
                    <label>Description</label>
                    <input required name="description" type="text" placeholder="Enter a description" class="form-control">
                </div>
                <div class="form-group m-3">
                    <label>Select a category</label>
                    <select name="category" class="form-control">
                        <option value="none">Select a category...</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group m-3">
                    <label>Create a new category</label>
                    <input name="category_new" type="text" placeholder="Create a new category" class="form-control">
                </div>
                <div class="form-group m-3">
                    <label>Upload image</label>
                    <input required name="image" type="file" class="form-control-file">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-sm m-3 text-center" style="width: 80%; background-color: #511281; color: white;">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}